docs/n8n/safety-action-effectiveness-agent.workflow.json
{
  "name": "SafeSite AI — Safety Action Effectiveness Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Weekly Monday 09:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{BACKEND_BASE_URL}}/api/v1/admin/safety-actions/agent/evaluate-effectiveness",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{N8N_SAFETY_ACTION_AGENT_API_KEY}}"
            },
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "options": {
          "retry": {
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "evaluate-effectiveness",
      "name": "POST evaluate-effectiveness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('[Effectiveness] Reviewed:', data.reviewed_count);\nconsole.log('[Effectiveness] Created:', data.created_count);\nconsole.log('[Effectiveness] Updated:', data.updated_count);\nconsole.log('[Effectiveness] Effective:', data.effective);\nconsole.log('[Effectiveness] Partially Effective:', data.partially_effective);\nconsole.log('[Effectiveness] Not Effective:', data.not_effective);\nconsole.log('[Effectiveness] No After Data:', data.no_after_data);\nreturn [{ json: data }];"
      },
      "id": "log-results",
      "name": "Log Effectiveness Counts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (Weekly Monday 09:00)": {
      "main": [
        [
          {
            "node": "POST evaluate-effectiveness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST evaluate-effectiveness": {
      "main": [
        [
          {
            "node": "Log Effectiveness Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {
    "description": "Weekly SafeSite AI effectiveness review. After import, replace all placeholder values: {{BACKEND_BASE_URL}} (e.g. http://localhost:8000 or your ngrok URL), {{N8N_SAFETY_ACTION_AGENT_API_KEY}} (the N8N_SAFETY_ACTION_AGENT_API_KEY value from your .env). Set EFFECTIVENESS_REVIEW_WINDOW_DAYS=0 in .env for immediate demo evaluation. The agent evaluates whether completed corrective actions reduced violations and stores one result per task (idempotent — safe to re-run)."
  }
}
