docs/n8n/safesite-unified-automation-agent.workflow.json
{
  "name": "SafeSite AI — Unified Automation Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payroll-risk-analysis-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "payroll-webhook-trigger",
      "name": "Payroll Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        120
      ],
      "webhookId": "payroll-risk-analysis-run",
      "notes": "Branch 1: Payroll Risk Analysis Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "accepted",
        "options": {}
      },
      "id": "payroll-respond-immediately",
      "name": "Respond Immediately (Payroll)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the month from the webhook body when provided; otherwise fall back\n// to the previous calendar month, matching the schedule-triggered agent's default.\nconst body = $input.first().json.body || {};\nif (body.month) {\n  return [{ json: { month: body.month } }];\n}\nconst now = new Date();\nconst d = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\nconst month = `${d.getUTCFullYear()}-${String(d.getUTCMonth() + 1).padStart(2, '0')}`;\nreturn [{ json: { month } }];"
      },
      "id": "compute-month",
      "name": "Compute Month (YYYY-MM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        120
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{BACKEND_BASE_URL}}/api/v1/admin/payroll/agent/risk-analysis?month={{ $json.month }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{N8N_PAYROLL_AGENT_API_KEY}}"
            }
          ]
        },
        "options": {
          "retry": {
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "http-risk-analysis",
      "name": "GET risk-analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-empty",
      "name": "IF status == empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{BACKEND_BASE_URL}}/api/v1/admin/payroll/agent/risk-analysis-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{N8N_PAYROLL_AGENT_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"n8n_execution_id\": \"{{ $execution.id }}\",\n  \"month\": \"{{ $('Compute Month (YYYY-MM)').item.json.month }}\",\n  \"status\": \"empty\",\n  \"total_workers_analyzed\": 0,\n  \"high_risk_workers_count\": 0,\n  \"medium_risk_workers_count\": 0,\n  \"total_violations\": 0,\n  \"total_fine_amount\": 0,\n  \"trend\": \"stable\",\n  \"recommendations_count\": 0,\n  \"response_snapshot_json\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "log-empty",
      "name": "POST log (empty)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{BACKEND_BASE_URL}}/api/v1/admin/payroll/agent/risk-analysis-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{N8N_PAYROLL_AGENT_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"n8n_execution_id\": \"{{ $execution.id }}\",\n  \"month\": \"{{ $('Compute Month (YYYY-MM)').item.json.month }}\",\n  \"status\": \"success\",\n  \"total_workers_analyzed\": {{ $json.total_workers_with_fines }},\n  \"high_risk_workers_count\": {{ $json.high_risk_workers.length }},\n  \"medium_risk_workers_count\": {{ $json.medium_risk_workers.length }},\n  \"total_violations\": {{ $json.month_to_month_comparison ? $json.month_to_month_comparison.current_total_violations : 0 }},\n  \"total_fine_amount\": {{ $json.month_to_month_comparison ? $json.month_to_month_comparison.current_total_fine_amount : 0 }},\n  \"trend\": \"{{ $json.month_to_month_comparison ? $json.month_to_month_comparison.trend : 'stable' }}\",\n  \"recommendations_count\": {{ $json.recommendations.length }},\n  \"response_snapshot_json\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "log-success",
      "name": "POST log (success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{BACKEND_BASE_URL}}/api/v1/admin/payroll/agent/risk-analysis-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{N8N_PAYROLL_AGENT_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"n8n_execution_id\": \"{{ $execution.id }}\",\n  \"month\": \"{{ $('Compute Month (YYYY-MM)').item.json.month }}\",\n  \"status\": \"failed\",\n  \"recommendations_count\": 0,\n  \"error_message\": \"{{ $json.error || 'risk-analysis request failed after retries' }}\"\n}"
      },
      "id": "log-failed",
      "name": "POST log (failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the safety-actions payload from the risk-analysis result.\n// Returning [] (zero items) cleanly stops the branch when there are no\n// high-risk workers, so the downstream HTTP node simply does not run.\n// Using .first() (not .item) makes cross-node access reliable on import.\nconst riskData = $('GET risk-analysis').first().json;\nconst month = $('Compute Month (YYYY-MM)').first().json.month;\nconst logId = $json.id;\n\nconst highRiskWorkers = riskData.high_risk_workers || [];\nif (highRiskWorkers.length === 0) {\n  return [];\n}\n\nreturn [{\n  json: {\n    log_id: logId,\n    month: month,\n    high_risk_workers: highRiskWorkers.map((w) => ({\n      worker_id: w.worker_id,\n      risk_reason: (w.risk_reasons || []).join('; ') || ('High risk score ' + w.risk_score),\n      suggested_priority: (w.recommendations && w.recommendations[0] && w.recommendations[0].priority) || 'P1',\n      action_title: (w.recommendations && w.recommendations[0] && w.recommendations[0].action) || 'Safety corrective action'\n    }))\n  }\n}];"
      },
      "id": "build-safety-actions-payload",
      "name": "Build safety actions payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{BACKEND_BASE_URL}}/api/v1/admin/safety-actions/agent/create-from-risk-analysis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{N8N_SAFETY_ACTION_AGENT_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "create-safety-actions",
      "name": "POST create safety actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  safety_actions_created: $json.created,\n  safety_actions_skipped_duplicates: $json.skipped_duplicates,\n  safety_action_task_ids: $json.task_ids\n} }];"
      },
      "id": "set-safety-action-counts",
      "name": "Set safety action counts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "safety-effectiveness-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "safety-effectiveness-webhook-trigger",
      "name": "Safety Effectiveness Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        500
      ],
      "webhookId": "safety-effectiveness-run",
      "notes": "Branch 2: Safety Action Effectiveness Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\" }",
        "options": {}
      },
      "id": "safety-effectiveness-respond-immediately",
      "name": "Respond Immediately (Safety Effectiveness)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{BACKEND_BASE_URL}}/api/v1/admin/safety-actions/agent/evaluate-effectiveness",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{N8N_SAFETY_ACTION_AGENT_API_KEY}}"
            },
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "options": {
          "retry": {
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "evaluate-effectiveness",
      "name": "POST evaluate-effectiveness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('[Effectiveness] Reviewed:', data.reviewed_count);\nconsole.log('[Effectiveness] Created:', data.created_count);\nconsole.log('[Effectiveness] Updated:', data.updated_count);\nconsole.log('[Effectiveness] Effective:', data.effective);\nconsole.log('[Effectiveness] Partially Effective:', data.partially_effective);\nconsole.log('[Effectiveness] Not Effective:', data.not_effective);\nconsole.log('[Effectiveness] No After Data:', data.no_after_data);\nreturn [{ json: data }];"
      },
      "id": "log-effectiveness-results",
      "name": "Log Effectiveness Counts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "safesite-violation-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "violation-alert-webhook-trigger",
      "name": "Violation Alert Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        780
      ],
      "webhookId": "safesite-violation-alert",
      "notes": "Branch 3: Real-Time Violation Alert"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={ \"status\": \"received\", \"source\": \"safesite-violation-alert\" }",
        "options": {}
      },
      "id": "respond-immediately-violation",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize the incoming violation alert payload. All fields are optional —\n// the FastAPI backend's build_alert_payload() (backend/alerts/base.py) sends\n// most of these, but we never assume a field is present.\nconst body = $input.first().json.body || {};\n\nreturn [{\n  json: {\n    violation_type: body.violation_type ?? null,\n    camera_id: body.camera_id ?? null,\n    camera_name: body.camera_name ?? null,\n    worker_id: body.worker_id ?? null,\n    worker_name: body.worker_name ?? null,\n    confidence: body.confidence ?? null,\n    fine_amount: body.fine_amount ?? null,\n    frame_path: body.frame_path ?? null,\n    timestamp: body.timestamp ?? new Date().toISOString(),\n    raw: body\n  }\n}];"
      },
      "id": "normalize-violation-payload",
      "name": "Normalize Violation Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const v = $input.first().json;\nconsole.log('[Violation Alert] type=%s camera=%s(%s) worker=%s(%s) confidence=%s fine=%s frame=%s ts=%s',\n  v.violation_type, v.camera_id, v.camera_name, v.worker_id, v.worker_name, v.confidence, v.fine_amount, v.frame_path, v.timestamp);\nreturn [{ json: v }];"
      },
      "id": "log-violation-alert",
      "name": "Log Violation Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        780
      ]
    }
  ],
  "connections": {
    "Payroll Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Immediately (Payroll)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Immediately (Payroll)": {
      "main": [
        [
          {
            "node": "Compute Month (YYYY-MM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Month (YYYY-MM)": {
      "main": [
        [
          {
            "node": "GET risk-analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET risk-analysis": {
      "main": [
        [
          {
            "node": "IF status == empty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST log (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF status == empty": {
      "main": [
        [
          {
            "node": "POST log (empty)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST log (success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST log (success)": {
      "main": [
        [
          {
            "node": "Build safety actions payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build safety actions payload": {
      "main": [
        [
          {
            "node": "POST create safety actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST create safety actions": {
      "main": [
        [
          {
            "node": "Set safety action counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Effectiveness Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Immediately (Safety Effectiveness)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Immediately (Safety Effectiveness)": {
      "main": [
        [
          {
            "node": "POST evaluate-effectiveness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST evaluate-effectiveness": {
      "main": [
        [
          {
            "node": "Log Effectiveness Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Violation Alert Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Immediately": {
      "main": [
        [
          {
            "node": "Normalize Violation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Violation Payload": {
      "main": [
        [
          {
            "node": "Log Violation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {
    "description": "Unified SafeSite AI automation workflow combining three independent webhook-triggered branches: (1) Payroll Risk Analysis Agent at /payroll-risk-analysis-run — reuses the exact node logic from payroll-risk-analysis-agent.workflow.json, swapping its Schedule Trigger for a Webhook Trigger + immediate Respond node; (2) Safety Action Effectiveness Agent at /safety-effectiveness-run — copied verbatim from safety-effectiveness-webhook-trigger.workflow.json; (3) Real-Time Violation Alert at /safesite-violation-alert — responds 200 immediately, then normalizes and logs the violation payload (all fields treated as optional, matching backend/alerts/base.py build_alert_payload output). After import, replace placeholder values: {{BACKEND_BASE_URL}}, {{N8N_PAYROLL_AGENT_API_KEY}}, {{N8N_SAFETY_ACTION_AGENT_API_KEY}}. Activate the workflow to expose the three production webhook URLs under https://coorporate2026.app.n8n.cloud/webhook/<path>. The original three standalone workflow files (payroll-risk-analysis-agent, safety-action-effectiveness-agent, safety-effectiveness-webhook-trigger) are left untouched — keep or deactivate them per your own judgment to avoid duplicate execution."
  }
}
